<!-- 
  Vuetifyjs API Reference
  https://vuetifyjs.com/en/components/lists/#two-lines-and-subheader 
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.css'>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app" style="padding: 10px;">
    <!-- 必須用 <v-app> 包覆，css 才會生效 -->
    <v-app>      
      <!-- Card -->
      <v-card max-width=100% outlined shaped >
        <!-- 圖片 -->
        <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img>
        <!-- 網站標題 -->
        <v-card-title>
          <v-spacer></v-spacer>
          Video-Server Manager Interface
          <v-spacer></v-spacer>
        </v-card-title>

        <!-- 功能按鈕區 -->
        <v-card-title> 功能測試 </v-card-title>
        <v-card-text>
          <v-chip-group active-class="deep-purple accent-4 white--text" column>
            <v-chip v-for="btn in buttons" @click=req(btn) :key="btn"> {{btn}}</v-chip>
          </v-chip-group>
        </v-card-text>
        
        <!-- 分隔線 -->
        <v-divider class="mx-4"></v-divider>

        <!-- 可用目錄區 -->
        <v-card-title> 遠端目錄 </v-card-title>
        <v-card-text>
          <v-chip-group active-class="deep-purple accent-4 white--text" column>
            <v-chip v-for="folder in folders" color="blue"> {{folder}}</v-chip>
          </v-chip-group>
        </v-card-text>

        <!-- 分隔線 -->
        <v-divider class="mx-4"></v-divider>
        
        <v-card-text>
          <!-- 建立列表 -->
          <v-list>
            <!-- 建立群組 -->
            <v-list-group v-for="(item, index) in videos" v-model="item.show" color="primary" :key="index">
              <!-- 標題-->
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title v-text="item.name"></v-list-item-title>
                </v-list-item-content>
              </template>
              
              <!-- 展開內容-->
              <v-list-item>
                <v-list-item-content>
                  <!-- 顯示影片 -->
                  <v-list-item-title>
                    <video width="100%" controls>
                      <source :src="item.url" type="video/mp4">
                    </video>
                  </v-list-item-title>
                  
                  <!-- 顯示刪除按鈕 -->
                  <v-list-item-subtitle>
                    <v-btn block color="pink" @click="delVideo(item.md5)">刪除</v-btn>
                  </v-list-item-subtitle>
                </v-list-item-content>

              </v-list-item>
            </v-list-group>
          </v-list>
        </v-card-text>
      </v-card>
      
      <!-- 底部訊息列 -->
      <v-snackbar v-model="show_msg" :timeout=3000>
        {{ msg }}
        <template v-slot:action="{ attrs }">
          <v-btn color="blue" text v-bind="attrs" @click="show_msg=false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-app>
    
  </div>

  <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    let vm = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      
      beforeMount: function(){
        this.getFolders()
      },

      data: () => ({
        buttons : [
          "Server 狀態", "影片列表", "更新目錄", "新建目錄"
        ],
        folders : ["videos"],
        videos : [],
        baseUrl : "http://127.0.0.1:5566",
        show_msg : false,
        msg : null,
      }),

      methods: {
        // send request
        _get : async function(url){
          let result = await axios.get(url)
          return result
        },
        
        // GET /
        get_status : async function() {
          let result = await this._get(this.baseUrl + "/ping")

          if (result.data == "pong"){
            this.msg = "Server 上線中"
          } else {
            this.msg = "Server 離線中"
          }

          this.show_msg = true
        },

        // GET /list
        getMovies : async function(){
          this.videos = []
          
          let result = await this._get(this.baseUrl + "/list")
          
          for (row of result.data.videos){
            row["show"] = false
            row["url"] = this.baseUrl + "/v?id=" + row["md5"]
            this.videos.push(row)
          }
        },

        // GET /lf
        getFolders : async function(){
          let result = await this._get(this.baseUrl + "/lf")
          this.folders = result.data.folders
          console.log(this.folders)
        },
        
        // GET /r?id=97430f319fb9638218bc59b36d473060
        delVideo : function(md5){
          this._get(this.baseUrl + "/r?id=" + md5)
          this.getMovies()
        },

        // send request and get result, trigger by front-end
        req : function(name){
          if (name == "Server 狀態") {
            this.get_status(this.baseUrl)
          }

          if (name == "影片列表"){
            this.getMovies()
          }

          if (name == "更新目錄"){
            this.getFolders()
          }
        },

      },
    })
  </script>
</body>
</html>